::placeholder {
  font-size: 0.9rem !important;
  color: rgb(170, 160, 160);
}

input {
  box-shadow: none !important;
}

/* body {
  background-color: rgb(230, 227, 227) !important;
} */

.question {
  clip-path: circle() !important;
}
